<launch>
  <arg name="rviz" default="true"/>
  <arg name="tracker_bridge" default="false"/>
  
  <!-- node name="scans_merger" pkg="obstacle_detector" type="scans_merger_node" output="screen">
    <param name="active"            value="true"/>
    <param name="publish_scan"      value="false"/> <param name="publish_pcl"       value="true"/>

    <param name="fixed_frame_id"    value="odom"/>      <param name="target_frame_id"   value="base_link"/> <param name="min_scanner_range" value="0.1"/> 
    <param name="max_scanner_range" value="10.0"/>

    <remap from="front_scan" to="/front/scan"/>
  </node> -->

  <node name="obstacle_extractor" pkg="obstacle_detector" type="obstacle_extractor_node" output="screen">
    <rosparam command="load" file="$(find obstacle_detector)/params/obstacle_extractor.yaml" />
    <remap from="scan" to="/front/scan"/>
  </node>

  <node name="obstacle_tracker" pkg="obstacle_detector" type="obstacle_tracker_node" output="screen">
    <rosparam command="load" file="$(find obstacle_detector)/params/obstacle_tracker.yaml" />
    <remap from="tracked_obstacles" to="/obstacles"/>
  </node>

  <node name="tracker_bridge" pkg="obstacle_detector" type="tracker_bridge_node" output="screen" if="$(arg tracker_bridge)"/>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find obstacle_detector)/resources/jackal_obs_tracker.rviz" if="$(arg rviz)"/>

</launch>
